:root {
  --navbar-color: green;
  --default-color: white;
}

body {
  background-color: rgb(168, 164, 164);
}

.nav-link {
  color: var(--default-color);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--navbar-color);
}

.nav-link.active {
  color: var(--navbar-color);
}

.hidden {
  display: none;
}
