
<%- include('../partials/head', { pageTitle: 'About', ...locals }) %>

<%- include('../partials/header', { page: 'about', ...locals }) %>

<div id="root">
    <h1>About</h1>
</div>

<%- include('../partials/footer') %>