
<%- include('../partials/head', { pageTitle: 'About', ...locals }) %>

<%- include('../partials/header', { ...locals }) %>

<div id="root">
    <h1>Error 500</h1>
</div>

<%- include('../partials/footer') %>