<%- include('../partials/head', { pageTitle: '404', ...locals }) %>

<%- include('../partials/header', { ...locals }) %>

<div id="root">
    <h1>404 Page Not Found</h1>
</div>

<%- include('../partials/footer') %>