<h1>Create account</h1>

<form id="signup_form">
    <div><input type="text" id="username" name="username" placeholder="Username" required></div>
    <div><input type="email" id="email" name="email" placeholder="Email" required></div>
    <div><input type="password" id="password" name="password" placeholder="Password" required></div>
    <div><input type="password" id="conf_password" name="conf_password" placeholder="Confirm Password" required></div>
    <div><input type="submit" value="Sign Up"></div>
    <a href="/signin">Already have an account? Sign in</a>
</form>